<section class="card">
  <a href="/gallery/{{id}}">
    <header><h1 contenteditable spellcheck="false">{{name}}</h1></header>
    {{!-- <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}"> --}}
  </a>
  {{!-- <a href="/gallery/{{id}}">
    <header>{{username}}</header>
    <img src="/images/{{profile.[0].filename}}" alt="{{profile.[0].username}}">
  </a> --}}
</section>