<section class="card">
  <a href="/profile/{{id}}">
    <header>{{username}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{username}}">
      <p>By: {{username}}</p>
    </div>
  </a>
</section>