<section class="card">
  <a href="/service/{{id}}">
    <header>{{service_name}}</header>
    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{service_name}}">
      <p>By: {{service_name}}</p>
    </div>
  </a>
</section>