{{#if loggedIn}}
<section class="profile">
  <img src="/images/{{profile.filename}}" alt="{{profile.name}}">
  <div class="painting-details">
    <h3>{{profile.usernam}}</h3>
    <p>By: {{profile.username}}</p>
    <p Style="font-size:30px;">In Development, Comming Soon!</p>
  </div>
</section>
{{else}}
<a href="/login"Style="font-size:30px;">You must login first to view this page</a>
{{/if}}